/*
  Name: Eva Liu
  Date: November 4th, 2023
  Section: CSE 154 AB Donovan Jordan Kong

  Hello, this is a CSS page which styles prev.html.
  This CSS page will style the header, and list
  of classes buttons.
*/

h1 {
  text-align: center;
  text-transform: capitalize;
}

body {
  background-color: rgb(154, 129, 181);
}