/*
  Name: Eva Liu and Samriddhi Sivakumar
  Date: December 12th, 2023
  Section: CSE 154 AB, CSE 154 AA

  This is an CSS page which styles styles.html.
  This CSS page will style the header, and list
  of classes buttons.
*/
body {
  background-color: #f4f4f4;
  font-family: "Arial", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro-section {
  margin-top: 50px;
}

h1 {
  color: #333;
  text-align: center;
  text-transform: capitalize;
}

a {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #45a049;
}