/*
  Name: Eva Liu and Samriddhi Sivakumar
  Date: December 12th, 2023
  Section: CSE 154 AB, CSE 154 AA

  This is an CSS page which styles enrolled-classes.html.
  This CSS page will style the header, and list
  of classes buttons.
*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  text-align: center;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
}

header h1 {
  margin: 0;
}

#enrolled-classes-list {
  padding: 20px;
}

.class-section {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 20px;
}

.class-section p {
  margin: 0;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#search-feature {
  display: flex;
  justify-content: center;
}